@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate-pulse {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(0.8);
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    animation: fadeIn 0.5s ease-in;
    align-content: center;
}

header {
    text-align: center;
    padding: 50px 0 30px 0;
    background: url('../img/nebula-bg.jpg');
    animation: fadeIn 2s ease-in;
}

header h1 {
    margin: 0;
}

header p {
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px;
    background-color: #222;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    padding: 10px 40px;
}

nav ul li a:hover {
    color: yellow;
    background-color: #555;
}

main{
    padding: 50px;
    text-align: center;
}

section {
    margin: 30px 0 70px 0;
}

div{
    margin-bottom: 50px;
}

.centered-div {
    justify-content: center;
    margin: 0 30%;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
    color: burlywood;
    text-underline-offset: 10px;
}

#home-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-item {
    background-color: #222;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 33%;
    color: white;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: transform 0.2s, box-shadow 0.3s;
}

.home-item h3 {
    color: #fff;
    text-align: center;
    position: relative;
}

.home-item h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: burlywood;
    border-radius: 3px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.home-item:hover h3::after {
    transform: scaleX(1);
}

.home-item p {
    color: #ccc;
    text-align: justify;
    padding: 5px;
}

#gallery-title img {
    display: flex;
    position: absolute;
    translate: -10% -150px;
}

#gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery-item {
    width: 30%;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.gallery-item img {
    width: 100%;
    border-radius: 30px;
}

.home-item:hover, .gallery-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.rotating-pulsing-star {
    display: flex;
    position: absolute;
    right: 5%;
    width: 100px;
    height: 100px;
    animation: rotate-pulse 5s linear infinite;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form textarea, form button {
    width: 30%;
    margin: 10px 0;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

form button:hover {
    background-color: orange;
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
}
